<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>  

<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Witam/Mambo Loyce, it's your Platypus Pi<strike> e </strike>! </h1>

      <h2>How can I help you today? </h2>

      <form action="" method="post" name="search_twitter">
          {{ form.hidden_tag() }}
          <p>
              Tell me what Twitter says about: {{ form.query(size=20) }}. <br>
          </p>
          <p>I want to hear {{ form.count(size=6) }} tweets! </p>
          <p><input name="twitter" type="submit" value="Search tweets"></p>
      </form>

      <form action="" method="post" name="search_nyt">
        {{ form.hidden_tag() }}
        <p>
            Tell me what NYT says about: {{ form.query(size=20) }}. <br>
        </p>
        <p>I want to hear {{ form.count(size=6) }} article snippets! </p>

        <p><input name="nyt" type="submit" value="Search NYT articles"></p>
      </form>
      <p>NYT Top Stories? Just choose a section: </p>
      <p>
        <select id="section" name="section">
          <option value="home">home</option>
          <option value="world">world</option>
          <option value="national">national</option>
          <option value="politics">politics</option>
          <option value="nyregion">nyregion</option>
          <option value="business">business</option>
          <option value="opinion">opinion</option>
          <option value="technology">technology</option>
          <option value="science">science</option>
          <option value="health">health</option>
          <option value="sports">sports</option>
          <option value="arts">arts</option>
          <option value="fashion">fashion</option>
          <option value="dining">dining</option>
          <option value="travel">travel</option>
          <option value="magazine">magazine</option>
          <option value="realestate">real estate</option>
        </select>
         and number of stories: 
        <input id="storyCount" type="number" step="1" min="1" max="20"> </input> 
      </p>
 
      <p>
        <button type="button" onclick="searchTopStories()">Let me hear them</button>
      </p>

      <p>Tired of my voice? Check out the English voices on <a href="https://www.ivona.com/">Ivona</a> and choose the one you like:</p>
      <p>
        <select id="voice" name="voice">
          <option value="Brian">Brian - British EN</option>
          <option value="Amy">Amy - British EN</option>
          <option value="Emma">Emma - British EN</option>
          <option value="Raveena">Raveena - Indian EN</option>
          <option value="Gwyneth">Gwyneth - Welsh EN</option>
          <option value="Geraint">Geraint - Welsh EN</option>
          <option value="Nicole">Nicole - Australian EN</option>
          <option value="Russell">Russell - Australian EN</option>
          <option value="Justin">Justin - American EN</option>
          <option value="Salli">Salli - American EN</option>
          <option value="Joey">Joey - American EN</option>
          <option value="Kimberly">Kimberly - American EN</option>
          <option value="Kendra">Kendra - American EN</option>
          <option value="Eric">Eric - American EN</option>
          <option value="Jennifer">Jennifer - American EN</option>
          <option value="Ivy">Ivy - American EN</option>
          <option value="Chipmunk">Chipmunk - American EN</option>
        </select>

        <button type="button" onclick="changeVoice()">Change my voice</button>
      </p>
    
    </div>
  </div>

  <script>
  function searchTopStories() {
    var section = document.getElementById("section");
    var count = document.getElementById("storyCount");
    var nytSection = section.options[section.selectedIndex].value;
    console.log(count.value);
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "topstories", true);
    xhttp.setRequestHeader('Content-Type', 'application/json');
    xhttp.send(JSON.stringify({ "section": nytSection, "count": count.value }));

  }

  function changeVoice() {
    var voice = document.getElementById("voice");
    var ivonaVoiceName = voice.options[voice.selectedIndex].value;
    console.log(ivonaVoiceName);
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "change_voice", true);
    xhttp.send(ivonaVoiceName); 
    //xhttp.setRequestHeader('Content-Type', 'application/json');
    //xhttp.send(JSON.stringify({ "section": nytSection, "count": count.value }));
  }
  </script>
</body>
</html>